footer {
	background-color: var(--component-bg);
	position: relative;
	z-index: 99;
	// margin-top: 50rem;

	.flex {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 760px) {
			flex-direction: column;
			text-align: center;

			div:not(last-child) {
				margin-bottom: 5rem;
			}
		}
	}

	.social-media-container {
		margin: 1rem 0;

		a {
			font-weight: bolder;
			text-decoration: none;
			color: var(--primary);
			transition: filter 0.3s ease;

			&:hover {
				filter: brightness(1.4);
			}
		}
	}

	.sitemap {
		p {
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: .5rem;
		}

		ul {
			list-style: none;
			li {
				a {
					text-decoration: none;
					color: var(--primary);
					transition: filter 0.3s ease;

					&:hover {
						filter: brightness(1.4);
					}
				}
			}
		}
	}
}
