#pricing {
	.heading {
		text-align: center;
		text-transform: uppercase;
		font-weight: bolder;
	}

	.pricing {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 10rem 0;

		&__container {
			text-align: center;
			margin: 5rem 2rem 0;
			padding: 4rem;
			box-shadow: .5rem .5rem 1rem 0 rgba(#000, 0.05), -.5rem -.5rem 1rem 0 rgba(#fff, 0.5);
			border-radius: 15px;

			@media screen and (max-width: 680px) {
				display: none;
				.active {
					display: block;
				}
			}

			&--title {
				text-transform: uppercase;
				opacity: .3;
			}

			&--price {
				font-size: 6rem;
				color: var(--primary);
				opacity: .15;
			}

			&--benefits {
				opacity: .3;
				list-style: none;
				li {
					margin-bottom: 1rem;
				}
			}
		}

		.active {
			padding: 6rem;
			margin-top: 0;

			@media screen and (max-width: 680px) {
				width: 100%;
				padding: 5rem 3rem;
				display: block;

				.pricing__container--price {
					font-size: 4rem;
					margin: 2rem 0;
				}

				@media screen and (max-width: 420px) {
					padding: 4rem 2rem;
					margin: 0;
				}
			}

			.pricing__container--title {
				opacity: .83;
				@media screen and (max-width: 420px) {
					font-size: 1.6rem;
				}
			}

			.pricing__container--price {
				font-size: 6rem;
				color: var(--primary);
				opacity: .83;
				text-transform: uppercase;

				@media screen and (max-width: 420px) {
					font-size: 3.5rem;
				}
			}

			.pricing__container--benefits {
				margin-bottom: 3rem;
				opacity: .83;
				li {
					opacity: .6;
					margin-bottom: 1rem;
				}
			}

			a {
				display: block;
				padding: 1rem 6rem;
				background-color: var(--primary);
				text-decoration: none;
				text-transform: uppercase;
				color: var(--primary-font);
				border-radius: 10px;
				border: 1px solid var(--primary);
				transition: all 0.3s ease;
				box-shadow: .5rem .5rem 1rem 0 rgba(#000, 0.05), -.5rem -.5rem 1rem 0 rgba(#fff, 0.5);

				&:hover {
					background-color: unset;
					color: var(--primary);
				}
			}
		}
	}
}
